<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>
<div class="container">
    <form action="/admin/articlesSave" method="post" class="bg-camo form-control my-3 pb-3">
        
        <p class="h1 fw-bold text-center text-capitalize">Article</p>

        <input type="text" name="articleTitle" id="articleTitle" class="form-control my-3 text-center fw-semibold fs-3" placeholder="Title of article" value="<%= data.title %>">
        <textarea class="form-control" placeholder="Write body of article" name="articleBody" id="articleBody">texxxtandooo</textarea>
        
        
        <p class="mt-3 h3">CATEGORY</p>
        <select name="articleCategory" class="form-control mb-4 fs-4">
            <% category.forEach((item) => { %>
                <option value="<%= item.id%>" <% if(item.id == data.categoryId ) {%> selected <% { %> >
                    <%= item.title.toUpperCase() %>
                </option>
            <% }) %>
        </select>

        <div class="row mt-3 px-3">
            <button type="submit" class="btn btn-success col-6 offset-1 d-inline" name="registerCategory">SEND</button>
            <button type="reset" class="btn btn-danger d-inline col-2 offset-2">Clear</button>
        </div>
    </form>
</div>
<%- include('../partials/footer.ejs'); %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#articleBody',
        plugins: 'advlist print preview ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss paste',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        height: 500
    })
</script>