<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>
<div class="container">
    <div class="row">
        <a href="/admin/articlesNew" class="btn text-center btn-success fs-3 w-100 fw-bolder my-3">Create Article</a>
    </div>
    <div class="my-3 text-center text-body-secondary">
        <span class="h2 fw-bold text-capitalize">Recently</span>
    </div>
</div>
<div class="container-lg p-0">
    <% if(items.length > 0 && items != null) { %>
        <table class="table table-dark table-hover table-striped table-bordered">
            <thead>
              <tr class="text-center">
                <th scope="col" class="text-center">ID</th>
                <th scope="col">Title</th>
                <th scope="col">SLUG</th>
                <th scope="col">Category</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody class="text-center align-middle">
    <% items.forEach( (items)=>{%>
              <tr>
                <th scope="row" class="text-center"><%= items.id %></th>
                <td><%= items.title %></td>
                <td><%= items.slug %></td>
                <td><%= items.category.title %></td>
                <td class="text-center">
                    <form action="/admin/articlesEdit/<%= items.id %>" method="post" class="d-lg-inline-block d-inline">
                        <button class="btn btn-warning px-1 px-lg-2 py-0 py-lg-2 p-0"><i class="fa-solid fa-pen-to-square"></i></button>
                    </form>

                    <form action="/admin/articlesDel" method="post" class="d-inline d-lg-inline-block" onsubmit="reallyDel(event, this)">
                        <input type="hidden" name="id" id="id" value="<%= items.id %>"></input>
                    <button type="submit" class="btn btn-danger px-1 px-lg-3 py-0 py-lg-2 mt-1 mt-lg-0 ms-lg-2 " data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-custom-class="custom-tooltip" data-bs-title="Exclude"><i class="fa-solid fa-delete-left"></i></button>
                    </form>
                </td>
              </tr>

    <% }) %>
            </tbody>
        </table>

    <% }else{ %>
    <div class="card">
        <div class="card-body text-center">
            <p class="fs-4 text-capitalize">Nenhum artigo cadastrado</p>
        </div>
    </div>
    <% } %>
</div>
<%- include('../partials/footer.ejs'); %>
<script>
    function reallyDel(event, form){
        event.preventDefault();
        let exclude = confirm("Deseja excluir o artigo?");
        if(exclude){
            form.submit();
        }
    }
</script>